
#MainHolder {
    position: relative;
    width: 100%;
    height: 100%;
}

#response span {
    margin: 0.5rem 2rem;
    position: absolute;
    width: 95%;
    height: 95%;
    overflow: scroll;
}

#response span table {
    position: absolute;
    width: 100%;
    height: 100%;
}

#response span table thead {
    position: sticky;
    top: 0;
}

table thead {
    text-align: center;
}

table thead td {
    color: cornflowerblue;
    height: 30px;
    vertical-align: middle;
}

table tbody td {
    text-align: center;
}

table td {
    margin: 0.1rem !important;
    padding: 0.1rem !important;
}

