body, .btn, input {
    font-size: 0.95rem !important;
    font-family: "Vazir Light";
}

#MainSidebar li button {
    width: 100%;
}

#MainSidebar li div ul li a {
    width: 90%;
}

#MainHolder {
    position: relative;
    width: 100%;
    height: 100%;
}

#tab-content div div {
    margin: 0.5rem 2rem;
    position: absolute;
    width: 95%;
    height: 95%;
    overflow: scroll;
}

#tab-content div div table thead {
    position: sticky;
    top: 0;
}

table thead {
    text-align: center;
}

table thead td {
    color: cornflowerblue;
    height: 30px;
    vertical-align: middle;
}

table tbody td {
    text-align: center;
}

table td {
    margin: 0.1rem !important;
    padding: 0.1rem !important;
}

/*custom boostrap*/
.b-example-divider {
    width: 0.8rem;
    background-color: rgba(0, 0, 0, .01);
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: rgba(210, 244, 234, 0.5);
}
