{{define "layout"}}
    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title  -->
        <title>Tel-Note</title>

        <link rel="shortcut icon" href="UI/favicon.ico">

        <!-- Core Style CSS -->
        <link href="../UI/SDK/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!--    <link href="SDK/bootstrap/css/bootstrap.rtl.css" rel="stylesheet">-->
        <link href="../UI/SDK/bootstrap/css/sidebars.css" rel="stylesheet">
        <link rel="stylesheet" href="../UI/pages/css/main.css">
        <link rel="stylesheet" href="../UI/SDK/ag-grid/ag-grid.css">
        <link rel="stylesheet" href="../UI/SDK/ag-grid/ag-theme-balham.css">
    </head>
    <body>
    {{template "body"}}
    <!--<footer>Made with Go</footer>-->
    </body>
    </html>
{{end}}
